body{
    background-image: url(/img/logos/logo-amorina.png);
}

.container-register{
    background-color: rgba(252, 232, 232, 0.466);
    border-radius: 500px;
    padding: 50px;
    margin-top: 50px;
}

