body{
    background-image: url(/img/logos/logo-amorina.png);
}

.container-register{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}

